<h2 class="pt-5 mt-2 border-bottom">Você quer adotar?</h2>

<%= simple_form_for [@pet, @adoption] do |f| %>
  <%= f.input :adopter, label: 'Adotante' %>
  <div class="mb-5 mt-2">
    <%= f.submit 'Adotar', data: { confirm: 'Você tem certeza?' }, class: 'btn btn-primary' %>
  </div>
<% end %>